@import url("./assets/css/base/reset.css");
@import url("./assets/css/base/base.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-width {
  padding-inline: 20px;
}

@media only screen and (min-width: 1200px) {
  .page-width {
    padding-inline: 100px;
  }
}
@media only screen and (min-width: 1920px) {
  .page-width {
    padding-inline: 200px;
  }
}

.text-gradient {
  background-image: -webkit-linear-gradient(
    125deg,
    #f8f603,
    #0091da
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-animation: hue 10s infinite linear !important;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.form-input {
  @apply block w-full appearance-none border-0 border-b border-yellow-300 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-black focus:outline-none focus:ring-0;
}

.form-label {
  @apply absolute top-0 -z-10 origin-[0] -translate-y-6 scale-75 transform text-lg text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-black;
}

.link-underline {
  border-bottom-width: 0;
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#f8f603, #f8f603);
  transition: background-size 0.5s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
  opacity: 0;
  pointer-events: none;
  border-radius: 5px;
  z-index: 99999;
  cursor: none;
  mix-blend-mode: difference;
  border-radius: 50%;
  z-index: 49;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  transform: translate(-50%, -50%);
}

.video-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}
