@import url("./assets/css/base/reset.css");
@import url("./assets/css/base/base.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-width {
  padding-inline: 20px;
}

.page-y-padding {
  padding-block: 80px;
}

@media only screen and (min-width: 1200px) {
  .page-width {
    padding-inline: 200px;
  }

  .page-y-padding {
    padding-block: 120px;
  }
}

.text-gradient {
  background: linear-gradient(to right, #f8f603, #0091da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}
